In [66]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

In [35]:
main_df = pd.read_csv(r'C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\main_df.csv', index_col=0)

In [36]:
main_df

,Price,Vehicle_brand,Vehicle_model,Vehicle_generation,Production_year,Mileage_km,Power_HP,Displacement_cm3,Fuel_type,Drive,...,Type,Doors_number,Colour,Origin_country,First_owner,Province,City,Month,Day,Year
0,105900.0,Abarth,595,Unknown,2021.0,12015.0,165.0,1368.0,Gasoline,Front wheels,...,small_cars,3.0,black,Poland,No,Łódzkie,Kamieńsk,8,30,2023
1,112000.0,Abarth,595,Unknown,2023.0,7.0,165.0,1368.0,Gasoline,Front wheels,...,small_cars,3.0,red,Poland,No,Śląskie,Gliwice,8,30,2023
2,39999.0,Abarth,500,Unknown,2011.0,151255.0,135.0,1400.0,Gasoline,Front wheels,...,compact,3.0,red,Nan,No,Pomorskie,Nie znaleziono,8,30,2023
3,22800.0,Abarth,Grande Punto,Unknown,2009.0,299500.0,155.0,1368.0,Gasoline,Front wheels,...,compact,3.0,black,Nan,No,Dolnośląskie,Nie znaleziono,8,25,2023
4,29000.0,Abarth,Grande Punto,Unknown,2009.0,222463.0,150.0,1368.0,Gasoline,Front wheels,...,small_cars,3.0,white,Nan,No,Lubelskie,Lublin,8,30,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203970,39900.0,Żuk,Other,Unknown,2014.0,40000.0,173.0,1301.0,Gasoline,Rear wheels,...,small_cars,1.0,other,Nan,No,Śląskie,Racibórz,4,30,2021
203971,10900.0,Żuk,Other,Unknown,1970.0,63518.0,70.0,2120.0,Gasoline,Rear wheels,...,station_wagon,4.0,other,Poland,No,Kujawsko-pomorskie,Włocławek,5,2,2021
203972,6900.0,Żuk,Other,Unknown,1977.0,11880.0,60.0,2120.0,Gasoline,Rear wheels,...,SUV,3.0,red,Nan,No,Opolskie,Złotów,4,28,2021
203973,5700.0,Żuk,Other,Unknown,1986.0,100000.0,36.0,2200.0,Gasoline,Rear wheels,...,minivan,2.0,blue,Nan,No,Podkarpackie,Nie znaleziono,4,24,2021
203974,11900.0,Żuk,Other,Unknown,1985.0,20056.0,70.0,2120.0,Gasoline,Rear wheels,...,minivan,3.0,red,Nan,No,Pomorskie,Koszalin,5,4,2021

In [37]:
df_dum = pd.get_dummies(main_df, drop_first=True)

In [57]:
df_dum = df_dum.iloc[:200000]

In [58]:
X = df_dum.drop(["Price"], axis=1)

In [59]:
y = df_dum["Price"]

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=110)

In [61]:
X_train

,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,Vehicle_brand_Aixam,...,City_Żelechów,City_Żerków,City_Żmigród,City_Żnin,City_Żory,City_Żukowo,City_Żuromin,City_Żychlin,City_Żyrardów,City_Żywiec
98452,2019.0,54000.0,150.0,0.0,5.0,8,21,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
67905,2006.0,275000.0,218.0,2987.0,5.0,8,23,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
45663,2020.0,71000.0,125.0,999.0,5.0,8,25,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
100721,2016.0,83000.0,150.0,1399.0,5.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
27583,2014.0,215000.0,218.0,1995.0,5.0,4,29,2021,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148142,2007.0,204658.0,136.0,2231.0,5.0,8,27,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
3073,2006.0,196000.0,115.0,1598.0,5.0,5,1,2021,0,0,...,0,0,0,0,0,0,0,0,0,0
43446,2004.0,247050.0,60.0,1242.0,3.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
35813,2005.0,166000.0,73.0,1360.0,3.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
135996,2002.0,166913.0,60.0,1397.0,5.0,8,27,2023,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
from sklearn.linear_model import LinearRegression

# Definiowanie rozmiaru partii
batch_size = 100

# Dzielenie danych treningowych na partie
for i in range(0, len(X_train), batch_size):
    X_batch = X_train[i:i+batch_size]
    y_batch = y_train[i:i+batch_size]

    # Utworzenie i dopasowanie modelu na partii danych
    model = LinearRegression()
    model.fit(X_batch, y_batch)
    
preds = model.predict(X_test)
mae = mean_absolute_error(y_test, preds)
print("Średni błąd bezwzględny:", mae)

Średni błąd bezwzględny: 45013.751343081734

In [68]:
np.mean(y_test)

89048.471575